@tailwind base;
@tailwind components;
@tailwind utilities;

.dark body {
	background-color: #18181b;
}
.light body {
	background-color: #f8fafc;
}

.dark ::selection {
	background: #2563eb;
}
.light ::selection {
	background: #fbbf24;
}

.transition-header {
	transition-property: background-color, height;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
	scroll-behavior: smooth;
	/* scroll-padding: 88px; */
}

